.btn:hover {
  background-color: grey;
}

.no-res {
  display: flex;
  justify-content: center;
  color: red;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  color: yellow;
  padding: 2px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.5em;
  background-color: rgb(24, 24, 24);
}
